body{
  background-color: black;
}
.button{
  position: absolute;
  background-color: #2cbbc0;
  color: black;
  display: inline-block;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-left: -70px;
  align-items: center;
}
.button1{
  left: 87.92%;
  right: 3.4%;
  top: 0.8%;
  bottom: 98.41%;
  width:125px;
  height: 48px;
  top: 35px;
  left: 1266px;
}
.button2{
  left: 77.5%;
  right: 13.82%;
  top: 0.8%;
  bottom: 98.41%;
  width:125px;
  height:48px;
  top: 35px;
  left: 1116px;
}
.button3{
left: 67.01%;
right: 24.31%;
top: 0.8%;
bottom: 98.41%;
Width: 125px;
Height: 48px;
top: 35px;
Left: 965px;
}
.navigation{
  width: 100%;
  background-color:black;
  padding-top: -50px;
  padding-right: 150px;
  padding-bottom: -500px;
  padding-left: 25px;
}
.logo{
  /*padding: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: -20px;*/
  position: absolute;
  width: 76px;
  height: 76px;
  left: 48px;
  top: 37px; 
}
.horizontalLine{
  position: absolute;
  width: 1333px;
  height: 0px;
  left: 58px;
  top: 147px;
  border: 1px solid #2cbbc0;
}
.bianca{
  display: inline-block;
  position: absolute;
  text-align: left;
  width: 266px;
  height: 48px;
  left: 109px;
  top: 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 0px;
  color: white;
}
.ul{
  width: 50%;
  margin-left: auto;
}
.li{
padding: 5px;
}
#hero{
 position: absolute;
  left: 773px;
  right: -30px;
  top: 10px;
  bottom: 5315px;
  border-radius: 30px;
  height: 579px;
  width: 687px;
  /*background: url(file:///Users/Bianca/Documents/GitHub/My_First_Repo-/images/IMG_3652.png); */
  z-index: -1; 
  padding-bottom: -10px;
  float:right;
} 
.myStory{
  color: black;
  font-style: normal;
  position: absolute;
  width: 650px;
  height: 460px;
  left: 60px;
  top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 55px;
  letter-spacing: 1.25px;
  align-items: flex-start;
  padding-top: 25px;
 }
.heroimage{
  padding-right: auto;
  float: right;
}
.image2{
  left: 3.33%;
  right: 45.9%;
  bottom: 50%;
  border-radius: 30px;
  width:730px;
  height: 730px;
  top: 146.29px;
  padding-block-start: 30px;
}
 #button4{
  position: absolute;
  left: 22.92%;
  right: 66.46%;
  top: 10.79%;
  bottom: 88.26%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 153px;
  height: 58px;
  top: 450px;
  left: 330px;
  background-color: black;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
 }
 #button5{
  position: absolute;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  /*width: 153px;
  height: 58px;*/
  background-color: white;
  color: black;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  width: 731px;
  height: 119px;
  left: 0px;
  top: 695px;
}
 .footer{
  position: absolute;
  font-display: inline-block;
  letter-spacing: 1.25px;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
 }
 .myquote{
  height: 128px;
  width: 1135px;
  left: 180px;
  top: 5917px;
  color: white;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  position: absolute;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  margin-right: auto;
 }
 .copyright{
 width: 1395px;
 height: 24px;
 left: 663px;
 top: 6033px;
 font-weight: 500;
 font-size: 12px;
 line-height: 24px;
 letter-spacing: 0.15px;
 color: white;
 position: absolute;
 margin-left: -630px;
 margin-right: center;
 position: absolute;
 align-items: center;
 text-align: center;
 align-content: center;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-style: normal;
 }
 .facebook{
  left: 48.06%;
  right: 50.21%;
  top: 98.19%;
  bottom: 1.4%;
  width: 25px;
  height: 25px;
  top: 5981px;
  left: 692px;
  border-radius: 0px;
  margin-right: auto;
  color: white;
 }
 .linkedin{
  left: 51.32%;
  right: 46.94%;
  top: 98.19%;
  bottom: 1.4%;
  height: 25px;
  width: 25px;
  left: 739px;
  top: 5981px;
  border-radius: 0px;
  margin-right: auto;
  color: white;
 }
 .grid-container{
  position: absolute;
  width: 1391px;
  height: 579px;
  left: -800px;
  top: 197px;
  background-color: #2cbbc0;
  border-radius: 0px;
 } 
.title{
  position: absolute;
  width: 678px;
  height: 24px;
  left: 414px;
  top: 895px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}
/*grid-container2{
  position: absolute;
  width: 1136px;
  height: 158px;
  left: 152px;
  top: 998px;
  background-color: #2cbbc0;
  border-radius: 0px;
  /*z-index: -1;
} */
.quote{
  position: absolute;
  width: 1041px;
  height: 68px;
  left: 199px;
  top: 1043px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.25px;
  color:black;
  background-color: #2cbbc0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
}
.subhead{
  position: absolute;
  width: 1041px;
  height: 68px;
  left: 199px;
  top: 3950px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: bold;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 1.25px;
  color:black;
  background-color: #2cbbc0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  border-radius: 30px;
}
.container{
  position: absolute;
  bottom: 65.82%;
  background: #48C4C8;
  border-radius: 30px;
  Width: 731px;
  Height: 813px;
  top: 1269px;
  left:48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
.container2{
  position: absolute;
  bottom: 65.82%;
  background: #48C4C8;
  border-radius: 30px;
  Width: 731px;
  Height: 813px;
  top: 900px;
  left:auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
.h2{
  position: absolute;
  width: 357px;
  height: 24px;
  left: 180px;
  top: 64px;
  font-size: 25px;
}
.overview{
  position: absolute;
  width: 515px;
  height: 451px;
  left: 800px;
  top: 226.29px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 1.25px;
  color: #FFFFFF;
}
.h3{
  position: absolute;
  width: 262px;
  height: 24px;
  left: 940px;
  top: 166.29px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}
.h4{
  position: absolute;
  text-align: center;
  width: 109px;
  height: 24px;
  left: 658px;
  top: 4100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}
.h5{
  position: absolute;
  text-align: center;
  width: 109px;
  height: 24px;
  left: 658px;
  top: 4500px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}
.flex-container{
  display:grid;
  margin: 10px;
  padding: 20px;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px; 
  left: 40px;
  top: 4150px;
  justify-content:space-between;
}
.box{
  width: 232px;
  height: 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 30px;
  justify-content:space-between;
  padding-block-end: 75px;
  padding-inline: 50px;
}
  
  @media only screen and (max-width: 800px) {
  flex-containter {flex-direction: column;}
  
  }
 