.inline-block{
  display:inline-block;
  vertical-align: top;
}
.navigation{
  width: 100%;
  background-color: teal;
}
.logo{
  width: 23%;
  padding: 1%;
  text-align: center;
}
.ul{
  width: 50%;
  margin-left: auto;
}
.li{
padding: 5px;
}
.heroImg{

  height: auto;
  /*background-image: url(images/IMG_3652.png);
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  }
  
.content{ 
  width: 500px;
  text-align: left;
}

.image{
  *max-width: 500px;
  max-height: 600px;
  height: 600px;
  width: 500px; 
  /*display: flex;
  height: 600px;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}
 